
/*
 * stylesheet for front page
 */
 .front-page-sidebar{
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    background-color: #000;
    opacity: 80%;
    

 }
 y: 80%;
    opacity: 80%;
    

 }
 