/*
Custom style sheet for two column blog posts
*/
.two-column-wrapper div {
  width:48%;
  display:inline-block;
  box-shadow:0 2px 15px rgba(0,0,0,0.30);
  padding:10px;
  padding-right:16px;
  
}
.column-1 {
  float:left;
}
.column-2 {
  float:right;
}
